  .sans-serif {
  font-family: "Karla", sans-serif !important;
}

.serif {
  font-family: "Lora", serif !important;
}

.display {
  font-family: "Playfair Display", serif;
}

.h0 {
  height: 0;
}

.w0 {
  width: 0;
}

.vh-7 {height: 7vh;}
.vh-93 {height: 93vh;}
.vh-70 {height: 70vh;}
.ease {
  transition: all .4s ease;
}
.mw5 {
    max-width: 6rem;
}

.mw6 {
    max-width: 30% !important;
    padding-right: 40px;
}

.fadeIn {
  animation: fadeIn .4s normal forwards;
}

.fadeOut {
  animation: fadeOut .2s normal forwards;
}

.menu__item { visibility: none; }

hr {
  border-top:dashed 1px #4d4d4d !important;
}

h1.shadow, .subh2New.shadow {
    text-shadow: 0px 0px 20px #000000
}

.subh2New {
  color: #fff;
  font-size: 34px;
}

.subh2NewBlack {
  color: #000000;
  font-size: 60px;
  line-height: 1.3;
}
.customParagraph {
    font-size: 18px;
    line-height: 1.5;
    font-family: Open Sans;
    color: #000000;
    margin:30px 30px 30px 30px;
    }

.sectionService {
  padding-top:50px;
}

.subh2New2 {
  text-align: left;
  color:#000000 !important;
  font-size:28px !important;
}

@media screen and (min-width: 600px) {

  .serviceSection {
      display: flex;
      padding-bottom: 50px;
  }
  .serviceLeft {
    width: 50%;
}
.serviceRight {
    max-width: 50%;
    padding:0px 50px;
}
  .phoneNumber {
    font-size: 42px;
  }

  .callToAction {
    height:300px;
  }
   .heroHeadline{
     padding-left:15%;
   }
   .jgTop {height: 90vh !important;}
   .sectionInfo {
    background-color: #ffffff;
    margin-top: -20px;
}
.aboutText {
    display: flex;
    text-align: left;
    padding-bottom:40px;
}

.right {
    margin-top: 90px;
}

.ctaText {
    font-size: 40px;
    color: #ffffff;
}
.ctaLeft {
    width: 60%;
    padding-top: 5%;
}
.ctaRight {
    width: 35%;
    padding-top: 11%;
    text-align:right !important;
}

  .pv3 {
      padding-top: 10px !important;
      padding-bottom: 0px !important;
  }
.HeroContentMobile {
  display:none;
}

.react-icons {
  vertical-align: middle;
}

  h1.title {
      text-align: center;
      padding-top: 15%;
      font-size: 70px !important;
      color: #323D4B;
      letter-spacing: -1px;
      margin:0px;
      /*text-shadow: 2px 2px 9px #4d4d4d90;*/
      -webkit-animation: startAnimation 2s;
      font-weight: 100;
  }

  h2 {
      text-align: center;
      font-size: 18px;
      letter-spacing: 1px;
      padding: 0px 20px 0px 20px;
      color: #323D4B;
      /*text-shadow: 2px 2px 9px #4d4d4d90;*/
      -webkit-animation: startAnimation 2s;
  }

  .konzept {
      font-size: 18px !important;
      color: #323D4B;
      line-height: 33px !important;
      column-count: 2;
      text-align: left;
      column-gap: 40px;
      font-family: 'SilkType',serif !important;
      letter-spacing: 1px;
      padding-top:20px;
  }
  .konzept2 {
      font-size: 18px !important;
      color: #323D4B;
      line-height: 33px !important;
      column-count: 1;
      text-align: center;
      column-gap: 40px;
      font-family: 'SilkType',serif !important;
      letter-spacing: 1px;
      padding-top:30px;
  }
.partner {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgb(250, 250, 250);
    padding: 30px !important;
    border-radius: 20px;
}

img.img-ambulant {
    max-width: 250px;
    float: left;
    margin-right: 30px !important;
    border: 8px solid #fff;
}

img.img-agr {
    max-width: 380px;
    float: right;
    margin-left: 50px !important;
    border: 8px solid #fff;
}

img.img-agr2 {
    max-width: 320px !important;
    float: right;
    border: 8px solid #fff;
    margin-top: 20px;
}

.partner-agr {
    column-count: 2;
}
.kontaktBottom {
    padding-left: 0px !important;
    padding-top: 0px !important;
}
.subh2 {
    font-size: 40px !important;
    text-align: center !important;
    color:#323D4B;
}



p.apartmentsAnlage {
    column-count: 2;
    text-align: left !important;

}
.apartmentsFacts {
    column-count: 2;
}

}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes startAnimation {
  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Article Styles */

/* Rhythm */
.article__container p {
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 1.6em;
}


/* Styles for quotes */
.article__container blockquote {
  font-style: italic;
  text-align: center;
  padding: 0px;
}

/* Styles for links */
.article__container a {
  color: #ff725c;
  text-decoration: none;
}

.article__container a:hover {
  text-decoration: underline;
}

/* Styles for headers */
.article__container h1,
.article__container h2,
.article__container h3,
.article__container h4,
.article__container h5,
.article__container h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}

/* Styles for code */
.article__container pre {
  padding: .5rem;
  font-size: 1rem;
  background-color: #eee;
  white-space: pre-wrap;
}

.bg-washed-red {
    background-color: #95AA9D !important;
}

.bg-white {
  background: #fafafa;
}

.logo {
    max-width: 200px;
}

.light-green {
    color: #fafafa !important;
    background-color: #95AA9D;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight:900 !important;
    border:double;
}
.light-green:hover {
    color: #fafafa !important;
    background-color: #494a48;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight:900 !important;
    transition-duration: 300ms;
    cursor: pointer;
}


.HeroSection {
    /*background-image: url('../../img/umgebung3.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.3) !important;
    min-height: 80vh;
    padding-bottom: 75px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 4%;
    animation: startAnimation 2s;
    position: sticky;
    margin-top: -1000px;
    z-index: 10;



}

.anfrage {
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    background-blend-mode: overlay;
    background-color: #a6aa95;
    margin-top: -5px;
    padding-bottom: 40px;
    padding-top: 10px;
}

h1.title {
    text-align: center;
    padding-top: 5%;
    font-size: 26px;
    color: #323D4B;
    letter-spacing: 0px;
    margin:0px;
    /*text-shadow: 2px 2px 9px #4d4d4d90;*/
    -webkit-animation: startAnimation 2s;
    font-family: 'SilkType',serif !important;
    letter-spacing: 3px;
}

h2 {
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 0px 20px 0px 20px;
    color: #323D4B;
    /*text-shadow: 2px 2px 9px #4d4d4d90;*/
    -webkit-animation: startAnimation 2s;
}

.subh2 {
    font-size: 24px;
    text-align: center !important;
    color:#fff;
}
@keyframes pulse {

  0% {background-color:#bcd1ae;}
  100% {background-color: #bcd1ae95;}


}
.accent {
    background-color: #95AA9D;
    /*-webkit-animation: pulse 5s infinite;*/
    font-size:18px !important;
    animation:0.5s;
}
.accent:hover {
    background-color: #95AA9D;

    -webkit-animation: pulse 5s infinite;
    animation:0.5s;
}

.menuItems {
    font-size: 18px !important;
    font-weight: 700;
}

.menuItems:hover {
    border-bottom: 5px solid #ab0937;
    margin-top: 4px;
    transition-delay:200ms;
}

.konzept {
    font-size: 18px;
    color: #323D4B;
    line-height: 28px;
    text-align: center;

}


b {
  color:#black;
}
.slide-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}


.button-anfrage {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    width:50%;
    margin-bottom:40px;
    border:double #95AA9D;
    font-weight:bold;
    cursor: pointer;
    transition: 0.5s;
}
.button-anfrage:hover {
    text-align: center;
    margin-top: 20px;
    background-color: #95AA9D;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    width:50%;
    margin-bottom:40px;
    border:double white;
    font-weight:bold;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

input[type="email"], [type="text"], [type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin: 20px 5px 5px 0px;
    width:100%;
}

textarea {
    overflow: auto;
    columns: 8;
    height: 200px !important;
    width: 100%;
    border: 0px;
    margin-Top:20px !important;
    padding:10px 15px !important;
}
.pv4 {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.react-slideshow-container + div.indicators > div {
    width: 20px !important;
    height: 20px !important;
    margin-right: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: -100px;
    z-index: 99;
}

.react-slideshow-container + div.indicators > div.active {
    background: #ab0937 !important;
}

.partner {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgb(250, 250, 250);
    padding: 30px !important;
    border-radius: 20px;
}


img.img-ambulant {
    max-width: 300px;
    float: center !important;
    border: 8px solid #fff;
}

img.img-agr {
    width: 320px;
    float: center !important;
    margin-top: 30px;
    border: 8px solid #fff;
}
img.img-agr2 {
    width: 320px;
    padding-top: 20px;
}

.kontaktBottom {
    padding-left: 8px;
    padding-top: 40px;
}

.partner-agr {
    column-count: 0;
}
.apartmentsAnlage {
    padding:0px 30px 0px 30px;
    text-align: center !important;
}

/*.react-cookie-law-dialog {
  position: fixed;
  bottom: 10px !important;
  top:80% !important;
}*/
.pv3 {
    padding-top: 10px;
    padding-bottom: 10px;
}
span.menuTextButton {
    padding-left: 10px !important;
    /* padding-bottom: 11px; */
}

*:focus {
    outline: none;
   }

   .dark-gray {
    color: #323D4B;
}
.box-internal-info{
    width: 48%;
    margin-right: 20px;
    height: 400px;
    margin-top: -20px;
    padding:50px;
    border-radius: 30px;
}

.each-fade .image-container img {
  width: 90%;
}

.boxServiceOuter {
    width: 32%;
    margin-right: 2%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 20px #4d4d4d10;
}

.boxService {

    background-color: #fff;
    padding: 30px 30px 30px 30px;
    border-radius: 6px;
    color: #4d4d4d;
    border:1px dashed #4d4d4d20;
    text-align: center;
}
.serviceStripe {
    background-image: url('../../img/imperial-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff82;
    background-blend-mode: color;
    padding-top: 50px;
    padding-bottom: 50px;
}


.h2, h2, h3, .h3, h4, .h4 {
  font-family: 'SilkType',serif !important;
}

.mobile {
display: none;
}

.iconService {
    padding: 16px;
    margin-bottom: 20px;
}

.angebote {
    /*background-image: url(../../img/service-bg.jpg);*/
    background-size: cover;
    background-color: #fff;
    background-position: center center;
    background-blend-mode: multiply;
}

.boxServiceallgemeineLeistungen {
    background-color: #95AA9D;
    color: white;
    padding:30px 30px 0px 30px;
}
/*MOBILE*/

@media screen and (max-width: 414px) {

  .serviceSection {
    text-align: center;
    padding-bottom: 50px;
}
  .ctaText {
      font-size: 26px;
      color: #ffffff;
      text-align: center;
  }
  .phoneNumber {
    font-size: 30px;
  }
  svg.iconPhone {
    font-size: 24px;
}
  .callToActionInner {
    display: inherit !important;
    padding-top:50px;
    padding-bottom:50px;
    min-height:400px;
    text-align: center;
  }

  .right {
      margin-top: 0px;
  }

  .sectionInfo {
      background-color: rgb(255, 255, 255);
      margin-top:-20px;
      padding-top:40px;
  }
  .aboutText {
    max-width: 95% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px !important;
    padding-bottom: 30px;
  }
  .logo {
      max-width: 120px;
  }
  h1{
    text-shadow: 0px 0px 20px #000000;
    font-size: 48px !important;
}

.heroHeadline {
  padding:4%;
  text-align: center;
}

.subh2New {
font-size: 28px;
}



.subh2NewBlack{font-size: 28px !important;line-height: 1.3}
.jgTop {height: 60vh !important;}
.sliderDesktop {display:none;}
  .HeroSection {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.3) !important;
    min-height: 80vh;
    padding-bottom: 75px;
    padding-left:20px;
    padding-right:20px;
    padding-top: 4%;
    animation: startAnimation 2s;
    position: sticky;
    z-index: 10;
  }
  .konzept {
    font-size: 16px;
    color: #323D4B;
    line-height: 28px;
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.button-anfrage, .button-anfrage.hover  {width:100%; }
.notMobile {
    display: none;
}
.mobile {
    display: inherit;
}
.boxServiceOuter {
    width: 100%;
    margin-right: 2%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 20px #4d4d4d10;
}
.mobileText {
    font-size: 18px !important;
    padding: 0px 20px;
}
h3, .h3 {
  padding-bottom: 20px;
}
.no-flex {
    display: grid !important;
}
svg.iconMobile {
    margin-top: 10px;
}


}
